:root {
  --danger: #ff8a80;
  --blue: #0d47a1;
  --light: #bbdefb;
}
body {
  background-color: #00b3b39c;
  
 }
 /* .background_video{
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  position: fixed; 
} */
