.button {
  background-color: rgb(29, 141, 149);
  border: 1px solid var(--blue);
  border-radius: 0.5rem;
  color:black;
  font-size: 1rem;
  margin-left: 1.2rem;
  padding: 0.2rem 1rem;
  transition: all 0.4s ease-out;
}

.button:hover {
  background-color:yellow;
}
.button_center {
  display: flex;
  justify-content: center;
}